@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

body{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 80px;
}

.logo-text{
    font-family: "DM Sans:Medium", sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.menu{
    background-color: rgba(255, 255, 255, 20%);
    border: 0;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
    position: relative;
    padding: 20px 24px;
}

.trans{
    text-decoration: none;
    color: black;
    font-family: "DM Sans:Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.35px;
    text-align: center;
}

.learn{
    box-sizing: border-box;
    border: 0;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: relative;
    padding: 14px 22px;
    color: white;
    background-color: rgb(72, 91, 13);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}